=render 'modules/header'
.new
  =form_with model: @shop, local: true do |f|
    .new__form
      =f.file_field :image, class: 'image_form form'
      =f.text_field :name, class: 'form', placeholder: 'タイトル'
      =f.text_area :text, class: 'text_form form', placeholder: 'type a message'
      =f.submit '投稿', class: 'submit_form'
=render 'modules/footer'